* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  background-image: url("./andrej-lisakov-g3z-CgUiPtg-unsplash.jpg");
  background-position: center;

  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.logo {
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 80px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links li a:hover {
  color: #ff6347;
}

.login-btn {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding: 4px 11px;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.login-btn svg {
  margin-right: 8px;
}

.mobile-menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
}

.nav-links-mobile {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;

    background-image: url("./andrej-lisakov-g3z-CgUiPtg-unsplash.jpg");
    background-position: center;

    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
  }

  .nav-links-mobile li {
    margin: 10px 0;
  }
}
